*{
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #121212;
    color: white;
}


section{
padding: 12px;
text-align: center;
background-color: #00a8f7;
border-radius: 10px;
}

p{
 font-size: 100px;
}
